@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --light-grey-: #e0e0e0;
  --dark-blue-: #256cfa;
  --dark-grey-v1: #121212;
  --dark-grey-v2: #131212;
  --dark-grey-v3: #272525;
}
*::-webkit-scrollbar {
  background: var(--dark-grey-v1);
  width: 5px;
  height: 2px;
  cursor: grab;
}
*::-webkit-scrollbar-thumb {
  background: var(--light-grey-);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: sans-serif;
  background: var(--dark-grey-v1);
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}
html, body, #root {
  height: 100%;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.cards {
  display: flex;
  flex-direction: row;
}
.card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid var(--dark-grey-v3);
  background-color: var(--dark-grey-v2);
  gap: 10px;
  cursor: pointer;
  backdrop-filter: blur(10px);
}
.cards {
  transition: all 0.3s linear;

}
.cards:hover {
  transform: translateY(-5px);
}
.card-body {
  width: 60%;
  gap: 10px;
}
.img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 250px; */
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  padding: 10px;
}
h1,
h3 {
  font-size: 1.3rem;
  color: var(--light-grey-);
}
p {
  color: #b0b0b0;
  font-size: calc(1rem - 2px);
  line-height: 1.3;
}

.search-bar {
  display: flex;
  margin: 10px 20px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  top: 0;
  padding: 10px 20px;
  background: var(--dark-grey-v1);
  z-index: 999;
  backdrop-filter: blur(10px);
}
.header a {
  font-size: 1.3rem;
  color: var(--light-grey-);
  text-decoration: none;
}
.header input {
  width: 60%;
  border: none;
  background-color: var(--dark-grey-v1);
  border: 1px solid var(--dark-grey-v3);
  color: var(--light-grey-);
  padding: 5px 10px;
}
.header button {
  width: 40%;
  background-color: #256cfa;
  color: var(--light-grey-);
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 5px 10px;
}
.header button:hover {
  opacity: 0.8;
}
.movie-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 20px;
  margin-top: 16rem;
}
@media (max-width: 425px) {
  .movie-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 50px;
  }
  .header input {
    width: 70%;
  }
  .header button {
    width: 30%;
  }
  .movie-grid {
    margin: 0 20px;
  }
}
@media (min-width: 768px) {
  .movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
  }
  .movie-grid {
    margin: 30px 50px;
  }
}
@media (min-width: 1024px) {
  .movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
  .header {
    padding: 0 100px;
  }
}
